* {
  background: #17E0BC;
  color: black
}

.todo-home {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.todo-completed {
  background: #17E0BC;
  text-align: left;
  padding-left: 30px;
  min-width: 300px;
  max-width: 400px;
  height: 55px;
  font-size: 20px;
  border: none;
  border-radius: 15px;
}

.todo-item-completed {
  display: flex;
  align-items: center;
  min-width: 280px;
  max-width: 380px;
  height: 45px;
  background-color: #ffffff;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 15px;
}

.todo-item-completed input[type="radio"] {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
width: 20px;
height: 20px;
border-radius: 50%;
background-color: #ffffff;
border: 2px solid #44444C;
margin-right: 10px;
}

.todo-text {
  background-color: #ffffff;
}

.todo-item-completed input[type="radio"]:checked {
background-color: #44444C;
}

.todo-item-completed label {
font-size: 17px;
background-color: #ffffff;
}

.delete-icon {
margin-left: auto;
cursor: pointer;
color: red;
padding-right: 10px;
background-color: #ffffff;
}

img {
  background-color: #ffffff;
  height: 21px;
  width: 21px;
}
